.App {
  text-align: center;


}


/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/

.App-link {
  color: #61dafb;
}

/* The sidenav */
.sidenav {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-top: 20px;

  text-align: left;
}

.sideheader {
  list-style: none;
  color: white;
  padding-left: 40px;
  padding-top: 50px;

}
.sidenav ul li {
  list-style: none;
  color: white;
  margin-top: 50px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
/* Page content */
.main {
  margin-left: 400px; /* Same as the width of the sidenav */

  height: 900px;
}


.sidenav button {

}
#roomForm {
  padding-left: 90px;
  padding-top: 50px;

}

#roomInput {
  width: 300px;

}


.backdrop  {
  position: relative;
  top: 50px;
  left: 100px;
  height: 30%;
  width: 40%;
  background-color:  grey;
  text-align: left;
}
