.App {
  text-align: center;


}

.rooms li:hover {
  background-color: red;
  cursor: pointer;
}


.App-link {
  color: #61dafb;
}

/* The sidenav */
.sidenav {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-top: 20px;

  text-align: left;
}

.sideheader {
  list-style: none;
  color: white;
  padding-left: 40px;
  padding-top: 50px;

}
.sidenav ul li {
  list-style: none;
  color: white;
  margin-top: 50px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
/* Page content */
.main {
  margin-left: 400px; /* Same as the width of the sidenav */
  text-align: left;
  background-color: orange;
}

.sign-in {
  text-align: right;
  margin-right: 60px;
  margin-top: 40px;
  background-color: red;
}

.message-room {

  margin-left: auto;
  margin-right: auto;
  height: 600px;
  margin-top: 50px;
}

.roomNum h4 {
  background-color: red;
  padding-left: 40px;
  padding-bottom: 40px;
  font-weight: bold;
}

.active-room {
  background-color: red;
}

.roomlist {
  background-color: yellow;
}

.textbar {
  padding-top: 10px;

}

.textbar button {

}

.message-area ul li {
  background-color: yellow;
  padding-bottom: 10px;
}

#time {
  background-color: red;
  text-align: right;
  padding-right: 60px;
  margin-top: -50px;
  font-style: italic;
}

.backdrop  {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 25%;
  transform: translate(-50%, -50%);
  background-color:  grey;
  text-align: left;
  color: white;
}

.sidenav button {

}

.send-button {
  display: inline;
}

.messages li {
  list-style: none;

}

.username {
  font-weight: bold;
  font-size: 18px;
}

#usernameForm {
  padding-top: 40px;
}
.rooms li a {
  color: white;
}

#roomForm {
  padding-left: 90px;
  padding-top: 50px;

}

#roomInput {
  width: 300px;


}
